# OS specific files (Thumbs.db etc) must be added to your own global gitignore. They have no place in any project.

# Gradle
build
.gradle

# IntelliJ
out
*.ipr
*.iws
*.iml
.idea

# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Python
venv/

# Other
eclipse
run
!LICENSE
!README.*
!.gitignore

